recursive-include waifuset/wiki tag_implications.json
recursive-include waifuset/wiki tag_priorities.json
recursive-include waifuset/wiki tag_aliases.json
recursive-include waifuset/wiki artist_tags.txt
recursive-include waifuset/wiki character_tags.txt
recursive-include waifuset/wiki copyright_tags.txt
recursive-include waifuset/wiki meta_tags.txt
recursive-include waifuset/wiki custom_tags.json
recursive-include waifuset/wiki ch2physics.json
recursive-include waifuset/wiki ch2clothes.json