pandas
tqdm
numpy
pillow
imagehash
gradio==4.13.0
opencv-contrib-python
# huggingface-hub
# onnxruntime-gpu
# torch
# torchvision
# onnxruntime
# pytorch-lightning
# git+https://github.com/openai/CLIP.git