pandas
tqdm
numpy
pillow
imagehash
datasets
opencv-python
opencv-contrib-python
# huggingface-hub # required by downloading models
# onnxruntime-gpu # required by Waifu Tagger
# onnxruntime # required by Waifu Tagger (cpu model only)
# torch # required by Waifu Scorer and Waifu Tagger
# pytorch-lightning # required by Waifu Scorer
# torchvision
# git+https://github.com/openai/CLIP.git # required by Waifu Scorer